html
	position absolute
	left 0
	right 0
	top 0

	body
		background-color #E7EBF2
		font-size 14px
		height 100%
		margin 0
		padding 0
		line-height 1 !important

		#main-content-wrapper
			margin 0 auto
			position relative
			width 981px
			border 1px solid #D6D6D6
			border-top 0
			background-color #FCFCFC

			#page-wrapper
				float left
				width 660px

				.page
					float left
					position relative
					width 646px
					margin 10px 0 0 14px

					.alert-page
						margin-bottom 15px

.clear
	clear both

.ellipsis
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	width auto

.modal-footer
	margin-top 0px

.weak
	font-weight 400

.strong
	font-weight 700

.hover
	cursor pointer

	