#header
	background-color #FCFCFC
	border 1px solid #D6D6D6
	margin 0 auto
	padding 10px
	width 981px
	border-bottom 1px solid #E8E8E8


	.logo-wrapper
		position relative
		width 200px
		float left

		img
			display block

		.addon
			background-color #FFFFFF;
			position absolute
			bottom 24px
			left 50px
			color #CCCCCC
			font-size 11px
			font-weight 700
			text-align right
			width 115px

		.logo-title
			color #0096D6
			font-weight 700
			margin 10px 0 0 10px

	.pull-right
		margin 5px 9px 0 0

		li
			margin 0 4px

	.welcome
		color #0096D6
		font-weight 700
		font-size 15px
		margin-top 11px

