#footer
	margin 0 auto
	width 981px

	ul
		margin 0 0 40px 5px
		font-size 13px
		display block
		float left
		padding 7px 10px 3px 0

		li
			color #303030
			display inline
			margin 0 8px 0 0

			a:hover
				text-decoration underline