#sidebar
	width 300px
	min-height 500px
	float left 
	margin-bottom 20px

	.form-control-feedback
		top 0px !important

	.well
		margin 10px 10px 20px 10px

		h4
			margin-top 0px

	#side-search
		table
			width 100%
			margin 0 auto

			tr
				td
					height 40px

				.first-child
					width 70px

				.form-group
					margin 7px 0 7px 0

				select
					width 100%

				button
					display block
					float right
					margin 5px 2px 0 0

	#side-announcement
		ol
			margin 0 0 0 19px
			padding 0

			li
				margin 7px 0 7px 0

		.more
			float right
			display block


	#side-partners
		ul
			margin 0
			padding 0

			.partner
				list-style-type none
				padding 5px 0

				.triangle-wrapper:hover
					
					.closed
						border-top 6px solid transparent
						border-bottom 6px solid transparent
						border-left 6px solid #0096D6

					.open
						border-top 6px solid #0096D6
						border-right 6px solid transparent
						border-left 6px solid transparent

				.triangle-wrapper
					cursor pointer
					float left
					width 15px
					height 15px

					.closed
						width 0
						height 0
						border-top 6px solid transparent
						border-bottom 6px solid transparent
						border-left 6px solid #00467F
						position relative
						top 2px
						cursor pointer

					.open
						width 0
						height 0
						border-top 6px solid #00467F
						border-right 6px solid transparent
						border-left 6px solid transparent
						position relative
						top 7px
						right 3px
						cursor pointer

				.link:hover
					cursor pointer
					text-decoration underline

				.text
					display block
					font-size 15px

				.primaryNavigations
					.primaryOl
						margin-left 30px
						padding 0
					.primaryNav
						margin 10px 0 0 10px



#partners-modal
	.radio-wrapper
		.each
			display block
			float left
			width 170px
			margin 0 5px 12px 0

			input 
				margin 0
				padding 0
				position relative
				top -2px

			label
				font-weight 400
				margin-left 5px
				display inline

	.order-wrapper
		margin-top 20px

		tbody
			tr
				cursor move
				background-color #FFFFFF

				td
					padding 8px 8px 8px 16px